<div class="outer-div">
  <div class="row w-100">
    <div class="col-sm-4">
      <div class="board p-3">
        <h3 class="text-center">TO DO</h3>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="board p-3">
        <h3 class="text-center">IN PROGRESS</h3>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="board p-3">
        <h3 class="text-center">DONE</h3>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
        <div class="card w-100">
          <p>Hello</p>
          <span>Sub Text</span>
        </div>
      </div>
    </div>
  </div>
</div>
