<div class="container">
  <div class="row">
    <div class="board col-sm-4">
      <h3>TO DO</h3>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
    </div>
    <div class="board col-sm-4">
      <h3>IN PROGRESS</h3>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
    </div>
    <div class="board col-sm-4">
      <h3>DONE</h3>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
      <div class="card">
        <p>Hello</p>
        <span>Sub Text</span>
      </div>
    </div>
  </div>
</div>
