@import "./../../../assets/stylings/variables";

.outer-div{
  background-color: $background-dark-primary;
  min-height: 90vh;
}
.card{
  background-color: $background-dark-secondary;
  color: $dark-font-primary;
}
