ul{
  background-color: #1F2833;
  height: 88vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li{
  list-style-type: none;
  font-size: 25px;
  color: #999999;
}
