@import "./../../../assets/stylings/variables";

ul{
  background-color: $background-dark-secondary;
  height: 100%;
  // width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li{
  list-style-type: none;
  font-size: 25px;
  color: $dark-font-primary;
}
